@{
    Layout = "~/Layout.cshtml";
    Page.Title = "Add Quote";

    var name = "";
    var width = "";
    var depth = "";
    var drawers = "";
    string desktop = "";
    var rushdays = "";
    DateTime tday = DateTime.Now;

    Validation.RequireField("name", "Name is required");
    Validation.RequireField("width", "Width is required");
    Validation.RequireField("depth", "Depth is required");
    Validation.RequireField("drawers", "A number is required");
    Validation.Add("width", Validator.Range(24, 96, "Width must be between 24 and 96"));
    Validation.Add("depth", Validator.Range(12, 48, "Depth must be between 12 and 48"));
    Validation.Add("drawer", Validator.Range(0, 7, "Drawers must be between 0 and 7"));

    if (IsPost && Validation.IsValid())
    {

        name = Request.Form["name"];
        width = Request.Form["width"];
        depth = Request.Form["depth"];
        drawers = Request.Form["drawers"];
        desktop = Request.Form["desktop"];
        rushdays = Request.Form["rush"];

        int widthI = Convert.ToInt32(width);
        int depthI = Convert.ToInt32(depth);
        int drawersI = Convert.ToInt32(drawers);
        int rushdaysI = Convert.ToInt32(rushdays);

        CalcQuote.DeskQuote newQuote = new CalcQuote.DeskQuote(Convert.ToInt32(width), Convert.ToInt32(depth), Convert.ToInt32(drawers), desktop, Convert.ToInt32(rushdays));

        DateTime QuoteDate = newQuote.QuoteDate;
        int QuoteAmount = newQuote.quoteTotal();

        var db = Database.Open("MegaDesk");
        var insertS = "INSERT INTO quotes (name, width, depth, date, drawers, material, rush, total) VALUES(@0, @1, @2, @3, @4, @5, @6, @7)";
        db.Execute(insertS, name, widthI, depthI, tday, drawersI, desktop, rushdaysI, QuoteAmount);

        Response.Redirect("~/index");
    }
}
<form method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" value="@Request.QueryString["name"]" />
        @Html.ValidationMessage("name")
        <label for="width">Width:</label>
        <input type="text" name="width" value="@Request.QueryString["width"]" />
        @Html.ValidationMessage("width")
        <label for="depth">Depth:</label>
        <input type="text" name="depth" value="@Request.QueryString["depth"]" />
        @Html.ValidationMessage("depth")
        <label for="drawers">Drawers:</label>
        <input type="text" name="drawers" value="@Request.QueryString["drawers"]" />
        @Html.ValidationMessage("drawers")
        <label for="desktop">Desktop Material:</label>
        <select name="desktop" value="@Request.QueryString["desktop"]">
            <option>Oak</option>
            <option>Laminate</option>
            <option>Pine</option>
            <option>Rosewood</option>
            <option>Veneer</option>
        </select>

        <label for="rush">Rush Days:</label>
        <select name="rush" value="@Request.QueryString["rush"]">
            <option>0</option>
            <option>3</option>
            <option>5</option>
            <option>7</option>
        </select>
        <input class="button" type="Submit" value="Add" />
    </div>

</form>